/**
 *00. GENERAL
 *-------------------------------------------------------------------
 */
 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  /**
   *01. MENU SUPERIOR
   *-------------------------------------------------------------------
   */
  #imgLogoMenu{
    width:50px;
    height:60px;
  }
  #imgSilverMenu{
    width:90px;
    height:60px;
  }
  .opcionesMenu{
    height:92px;
    padding-top:35px;
  }
  #separacionInformes{
    padding-left:10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8764b8;
    height:100px;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #8A07C6;}
  /**
   *02. VIDEO
   *-------------------------------------------------------------------
   */
  .main {
    max-width: 1000px;
    margin: auto;
  }
    h1{
    text-align:center;
  }
  video{
    width:420px; 
    height:320px; 
    margin-left:300px;
  }