/**
 *00. GENERAL
 *-------------------------------------------------------------------
 */
 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    max-width: 1000px;
    margin: auto;
}

/**
 *01. MENU SUPERIOR
 *-------------------------------------------------------------------
 */
#imgLogoMenu{
  width:50px;
  height:60px;
}
#imgSilverMenu{
  width:90px;
  height:60px;
}
.opcionesMenu{
  height:92px;
  padding-top:35px;
}
#separacionInformes{
  padding-left:10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8764b8;
  height:100px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #8A07C6;
}
/**
 *02. POWER BI
 *-------------------------------------------------------------------
 */
 #imgcompras{
  height: 50px;
  width: 50px;
  margin: 5px;
 }
 #powerBi{
  width: 320px;
  height: 60px;
  border-style: solid;
  border-color: black;
  margin-top: 30px;
  margin-bottom: 30px;
 }
 #textoPowerBi{
 vertical-align: 25px;
 color: black;
 text-decoration: none;
 }
/**
 *03. VIDEO
 *-------------------------------------------------------------------
 */
#general{
  height:340px; 
  width: 100%;
  background-color: dodgerblue;
}
#contenido{
  position: relative;
  max-width: 1000px;
  margin: auto;
}

#divTexto{
 top:0;
 right:0;
 width:500px; 
 position: absolute;
 margin-top: 140px;
 margin-left: 10px;
}
#divVideo{
 top:0;
 width:500px; 
 position: absolute;
}

video{
 width:420px; 
 height:320px; 
}