/**
 *00. GENERAL
 *-------------------------------------------------------------------
 */
 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
/**
 *01. MENU SUPERIOR
 *-------------------------------------------------------------------
 */
 #imgLogoMenu{
  width:60px;
  height:60px;
  
}
.opcionesMenu{
  padding-top:50px;
}
#imgLogoInsta{
  width:35px;
  height:35px;
}

#separacionInformes{
  padding-left:10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #21ab4f;
  
}
li {
  float: left;

  
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height:125px;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #09d32e;}

/**
 *02. SLIDER
 *-------------------------------------------------------------------
 */
svg{
  width:65px; height:65px; 
}
path{
  fill:#030303;
}
.slider {
  margin: 0 auto;
  max-width: 100%;
}
.slide_viewer {
  height: 500px;
  overflow: hidden;
  position: relative;
}
.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}
.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slide:first-child {
  display: block;
}
.slide:nth-of-type(1) {
  background: #D7A151;;
}
.slide:nth-of-type(2) {
  background: #F4E4CD;
}
.slide:nth-of-type(3) {
  background: #C75534;
}
a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}
.directional_nav {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  top: -500px;
}
.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 400px;
}
.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 400px;
}
.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}
.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

/**
 *03.NOVEDADES
 *-------------------------------------------------------------------
 */
 * {
  box-sizing: border-box;
}
/* Center website */
.main {
  height: 290px;
  max-width: 1000px;
  margin: auto;
}
h1 {
  font-size: 30px;
  word-break: break-all;
  padding-left: 20px
}
.row {
  margin: 8px -16px;
}
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  padding: 10px;
  height: 270px;
}
.content img {
  width:220px;height:140px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column a  {
  color: black;
  text-decoration: none;
}
/**
 *04. PIE DE PAGINA
 *-------------------------------------------------------------------
 */
 #pieDePagina{
  height:90px;
  background-color:gray;
  
 }
 .imgPieDePagina{
  width:100px;
   height:50px;
 }
 #posicionImagenes{
  margin-left: 45%;
 }