/**
 *00. GENERAL
 *-------------------------------------------------------------------
 */
 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/**
 *01. MENU SUPERIOR
 *-------------------------------------------------------------------
 */
#imgLogoMenu{
  width:50px;
  height:60px;
}
#imgSilverMenu{
  width:90px;
  height:60px;
}
.opcionesMenu{
  float: left;
  height:92px;
  padding-top:35px;
}
#separacionInformes{
  padding-left:10px;
}
#menuSuperior{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8764b8;
  height:10%;
  position: relative;
}
.float {
  float: left;
}
a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #8A07C6;
}

/**
 *02. MENU LATERAL
 *-------------------------------------------------------------------
 */
#divMenu{
  position:absolute;
  height: 100%;
  background-color: #8764b8;
 }
#lateral{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 200px;
}
/**
 *03. PANTALLA INICIAL
 *-------------------------------------------------------------------
 */
#resumen{
  width: 300px;
  color:steelblue;
  text-decoration: underline;
}
#caso{
  width: 100px;
}
#fecha{
  width: 100px;
}
#usuario{
  width: 100px;
}
#gestor{
  width: 100px;
}
#prioridad{
  width: 100px;
}
#posicion{
  width: 100px;
}
#tiempo{
  width: 100px;
}
#titol{
  width: 450px;
}
td{
  text-align: center;
}
#cabeceraTable{
  background-color: steelblue;
}
/**
 *05. TABLA INICIAL
 *-------------------------------------------------------------------
 */
 #div1 {
  overflow:scroll;
  height: auto;
  width:100%;
  margin-top: 80px;

}
table{
  border: 1px;
}


/**
 *04. FORMULARIOS
 *-------------------------------------------------------------------
 */
*{
  box-sizing: border-box;
}
.main {
  margin-left: 230px;
  height:600px;
  position: absolute;
}
h1 {
  font-size: 30px;
  word-break: break-all;
  text-align: center;
}
section{
  display:none;
}

/**
 *04.1 NUEVO TICKET
 *-------------------------------------------------------------------
 */
 #tituloTicket{
  width:89%;
 }
 #descripcionTicket{
  width:95%;
  height: 100px;
  resize: none;

 }
 /**
 *04.2 BUSQUEDA DE CASOS
 *-------------------------------------------------------------------
 */
 /**
 *04.3 MANUALES
 *-------------------------------------------------------------------
 */
 /**
 *04.4 PRIORIDADES
 *-------------------------------------------------------------------
 */