/**
 *00. GENERAL
 *-------------------------------------------------------------------
 */
 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
/**
 *01. MENU SUPERIOR
 *-------------------------------------------------------------------
 */
#imgLogoMenu{
  width:60px;
  height:60px;
}
#imgSilverMenu{
  width:90px;
  height:60px;
}
.opcionesMenu{
  height:92px;
  padding-top:35px;
}
#imgLogoInsta{
  width:35px;
  height:35px;
}

#separacionInformes{
  padding-left:10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8764b8;
  height:10%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #8A07C6;}


/**
 *02. CONTENIDO PAGINA
 *-------------------------------------------------------------------
 */
 h2{
  margin-left: 20px;
}
*{
  box-sizing: border-box;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 60px;
}
h1 {
  font-size: 30px;
  word-break: break-all;
  padding-left: 20px;
  text-align:center;

}
.row {
  margin: 8px -16px;
}
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  padding: 16px;
  height: 180px;
}
div img{
  width:200px;height:200px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.column a  {
  color: black;
  text-decoration: none;
}